<div style="margin-top:10%"class="row">
    <form method={{method}} action={{action}} enctype="application/x-www-form-urlencoded" class="col s12">
      <input type="submit" class="waves-effect waves-light btn"/>
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">email</i>
          <input id="icon_prefix" placeholder=" "type="email" name="usremail" class="validate">
          <label for="icon_prefix">Email</label>
           
        </div>
        
        <div class="input-field col s6">
          <i class="material-icons prefix">security</i>
          <input placeholder=" "id="password" name ="password" type="password" class="validate">
          <label for="icon_telephone">Password</label>
        </div>
      </div>
    </form>
  </div>
  <script>

 
  </script>