        <div class="input-field col s12">
            <input name="question" type="text" class="validate">
            <label for="password">Enter question</label>
        </div>
        <div id="answer" class="input-field col s12">
            <input id="answer" name="answer" type="text" class="validate">
            <label for="answer">Answer</label>
        </div>